accelerate==1.0.1
annotated-types==0.7.0
async-timeout
attrs
datasets
dill
eval_type_backport==0.3.0
filelock
frozenlist
fsspec
gitdb==4.0.12
GitPython==3.1.45
huggingface_hub
Jinja2
MarkupSafe
mpmath
multidict
multiprocess
networkx
numexpr
numpy
packaging
pandas
peft==0.13.2
pillow
protobuf==5.29.5
pyarrow
python-dateutil
pytz
PyYAML
regex
requests
safetensors
sentry-sdk==2.44.0
six
smmap==5.0.2
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
wandb==0.23.0
xxhash
yarl
